<div class="md:w-[400px] w-100 mx-auto mt-10">
  <h2 class="font-bold text-xl mb-10">Share a video</h2>
  <%= form_for video, url: videos_path do |f| %>
    <div class="grid gap-2 md:gap-4">
      <%= f.hidden_field :source %>
      <div class="field">
        <%= f.label :source_url %>
        <%= f.text_field :source_url, autofocus: true, autocomplete: "off", required: true, class: 'input' %>
      </div>

      <% if video.errors.any? %>
        <div class="text-red-600">
          <% video.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <button type="submit" class="btn btn-primary">Share</button>
    </div>
  <% end %>
</div>
