<!DOCTYPE html>
<html>
  <%= render 'shared/head_tag' %>
  <body>
    <main class="container mx-auto sm:px-0 px-2">
      <%= render 'shared/header' %>
      <%= yield %>
    </main>
    <div id="redirect-tag"></div>
    <% if user_signed_in? %>
      <%= render 'shared/notification_tag' %>
      <div data-controller="subscribe" data-user-id="<%= current_user.id %>"></div>
    <% end %>
  </body>
</html>
